h1 {
    font-family: 'Pacifico', cursive;
}

.panel {
    border: 1px solid white;
    padding-bottom: 1%;
    height: 200px;
    overflow: scroll;
    margin-top: 2%;
}

h3 {
    margin: 1%;
    text-align: center;
}

.logs {
    color: red;
}

#voter {
    margin-right: 1%;
    margin-left: 1%;
    color: white;
}

.voter {
    display: none;
}

.winner {
    margin-bottom: 1%;
}
.action {
    margin-bottom: 80px;
}

footer {
    position: absolute;
    bottom: 0;
    font-family: monospace;
    text-align: right;
    height: 20px;
    display: none;
}